<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="landing page">
	<meta name="Priya" content="">

	 <title>EASY-SPLIT</title>

	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link href="public/images/cover.jpg" rel="icon" />
	<style type="text/css">
		footer {
		  position: bottom;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  padding: 1rem;
		  background-color: #efefef;
		  text-align: center;
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Easy-Split</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
        <form class="form-bill-details" action="/output" >
          <h2 align="center" class="form-signin-heading"><b>EASY-SPLIT</b></h2>
          <center><img src="public/images/notes500.jpg" alt="logo-icon" style="width:304px;height:128px;"></center>
            <p>How many Vegetarians?</p><br>
              <input type="input" id="veg_peop" class="form-control" placeholder="0,1,5,..12 ?" required ><br>
            <p>How many Non-Vegetarians?</p><br>
              <input type="input" id="nveg_peop" class="form-control" placeholder="0,1,5,..12 ?" required><br>
            <p>Cost of Veg items: (Rs.)</p><br>
              <input type="input" id="veg_bill_wo_tax" class="form-control" placeholder="800" required><br>
            <p>Cost of Non-Veg items: (Rs.) </p><br>
              <input type="input" id="nveg_bill_wo_tax" class="form-control" placeholder="900" required><br>
            <p>Tax Percentage(%):</p><br>
              <input type="input" id="percent_tax" class="form-control" placeholder="14.2" required><br>

            <center> <button class="btn btn-primary" type="submit">Split!</button> <br> </center>
        </form>
    </div> <br>
    <footer>Copyright &copy; easy-split<br>
                contact : 9901041701
                email: priyamandal1974@gmail.com
    </footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   		
</body>
</html>